<html>
<head>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>
<body>
Use the arrow keys to control USAL:
<hr>

<form>

<p>
Forward: Turn on the forward propeller<br>
Stop: Stop the forward Propellor. 
</p>

<p>
<input type="button" onclick="sendDirection('forward')" value="Forward">
<input type="button" onclick="sendDirection('stop')" value="Stop">
</p>

<p>
Perform a dive and re-surface.
</p>

<p>
<input type="button" onclick="sendDirection('dive')" value="Dive">
</p>

<p>
Left: Turn Left<br>
Right: Turn Right<br>
Centre: Rudder Centre
</p>

<p>
<input type="button" onclick="sendDirection('left')" value="Left">
<input type="button" onclick="sendDirection('centre')" value="Centre">
<input type="button" onclick="sendDirection('right')" value="Right">
</p>

</form>

<hr>

<script type="text/javascript">
function sendDirection(dir) {
    console.log(dir);

    $.ajax({
          type: "POST",
          url: "http://10.1.1.1:8000/direction",
          data: dir,
          success: null,
          dataType: "text"
        });
}
</script>
</body>
</html>
